:root,
:host {
    --main-color: #5f9ea0;
    --background-color: #fff;
}

button {
    padding: 0.5em 1em;
    color: var(--main-color);
    font-size: 1em;
    background: var(--background-color);
    border: solid 2px var(--main-color);
    border-radius: 4px;
    appearance: none;
}
