:root,
:host {
    --backdrop-color: rgba(0, 0, 0, 0.5);
    --main-color: blue;
}

:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
}

dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 240px;
    border: 0;
    border-radius: 16px;
}

.dialog-content {
    flex: 1 auto;
}

.dialog-nav {
    display: flex;
    flex: none;
    justify-content: center;
}

.dialog-nav x-button {
    --main-color: red;
}
